.pagination {
    display: flex;
    gap: 10px;

    button {
        padding: 5px 12px;
        background-color: #fff;
        border: none;
        cursor: pointer;
        transition: .4s;
        font-weight: bold;
        border-radius: 4px;
    }

    button:hover {
        color: #fff;
        background-color: #B99B6B;
    }

    .active {
        color: #fff;
        background-color: #B99B6B;
    }
}