.store-layout {
    display: flex;

    .left {
        display: flex;
        align-items: flex-start;
        flex: 1;

    }

    .right {
        flex: 6;

        .navbar-store {
            display: flex;
            width: 100%;
        }

        .outlet {
            padding: 20px 30px;
            height: 100%;
            background-color: #eee;
        }
    }
}