.home-layout {
    max-width: 1500px;
    margin: 0 auto;
    position: relative;

    .overlay {
        position: fixed;
        background-color:  rgba(0,0,0,0.5);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;

        .popUp {
            height: 300px;
            width: 500px;
            background: #fff !important;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            &-title {
                color: #F65D4E;
            }

            button {
                margin-top: 20px;
                padding: 5px 10px;
                font-weight: bold;
                color: #fff;
                background-color: #F65D4E;
                border-radius: 5px;
                outline: none;
                border: none;

            }
        }
    }

}