.change-phone-page {
    margin-top: 110px;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;

    .heading {  
        background-color: transparent;
        font-size: 18px;
    }

    .container {
        display: flex;
        gap: 30px;

        .left {
            flex: 2;
            background-color: #fff;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 8px;
            height: 250px;  
        }

        .change-container {
            flex: 7;
            border-radius: 8px;
            border: 1px solid #eee;
            width: 400px;
            padding: 10px 20px;
            background-color: #fff;
    
            .title {
                font-size: 14px;
                margin-left: 210px;
            }
    
            form {
                display: flex;
                flex-direction: column;
                width: 60%;
                margin: 0 auto;
    
                .form-input {
                    border-radius: 4px;
                    border: 1px solid #eee;
                    padding: 5px 10px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
        
                    input {
                        border: none;
                        outline: none;
                        padding: 5px 10px;
                        flex: 1;
                        width: 90%;
                    }
                }
                .attention {
                    font-size: 11px;
                }
    
                button {
                    padding: 5px 10px;
                    border-radius: 5px;
                    margin-top: 20px;
                    font-weight: bold;
                    border: none;
                    color: #fff;
                    background-color: #FF6464;
                }
            }
    
    
        }
    }
}

@media (max-width: 900px) {
    .change-phone-page {
        margin-top: 110px;
        padding: 50px 50px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #eee;
    
        .heading {  
            background-color: transparent;
            font-size: 18px;
        }
    
        .container {
            display: flex;
            gap: 30px;
            margin: 0px;
            flex-direction: column !important;
    
            .left {
                flex: 1;
                background-color: #fff;
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                border-radius: 8px;
                height: 250px;  
            }
    
            .change-container {
                flex: 1;
                border-radius: 8px;
                border: 1px solid #eee;
                width: 100%;
                padding: 20px 20px;
                background-color: #fff;
        
                .title {
                    font-size: 14px;
                    margin-left: 0px;
                }
        
                form {
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    margin: 0 auto;
        
                    .form-input {
                        border-radius: 4px;
                        border: 1px solid #eee;
                        padding: 5px 10px;
                        display: flex;
                        align-items: center;
                        gap: 5px;
            
                        input {
                            border: none;
                            outline: none;
                            padding: 5px 10px;
                            flex: 1;
                            width: 90%;
                        }
                    }
                    .attention {
                        font-size: 11px;
                    }
        
                    button {
                        padding: 5px 10px;
                        border-radius: 5px;
                        margin-top: 20px;
                        font-weight: bold;
                        border: none;
                        color: #fff;
                        background-color: #FF6464;
                    }
                }
        
        
            }
        }
    }
}

@media (max-width: 480px) {
    .change-phone-page {
        margin-top: 50px;
        padding: 30px 30px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #eee;
    
        .heading {  
            background-color: transparent;
            font-size: 18px;
        }
    
        .container {
            display: flex;
            gap: 30px;
            margin: 0px;
            flex-direction: column !important;
    
            .left {
                flex: 1;
                background-color: #fff;
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                border-radius: 8px;
                height: 250px;  
            }
    
            .change-container {
                flex: 1;
                border-radius: 8px;
                border: 1px solid #eee;
                width: 100%;
                padding: 20px 20px;
                background-color: #fff;
        
                .title {
                    font-size: 14px;
                    margin-left: 0px;
                }
        
                form {
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    margin: 0 auto;
        
                    .form-input {
                        border-radius: 4px;
                        border: 1px solid #eee;
                        padding: 5px 10px;
                        display: flex;
                        align-items: center;
                        gap: 5px;
            
                        input {
                            border: none;
                            outline: none;
                            padding: 5px 10px;
                            flex: 1;
                            width: 90%;
                        }
                    }
                    .attention {
                        font-size: 11px;
                    }
        
                    button {
                        padding: 5px 10px;
                        border-radius: 5px;
                        margin-top: 20px;
                        font-weight: bold;
                        border: none;
                        color: #fff;
                        background-color: #FF6464;
                    }
                }
        
        
            }
        }
    }
}