.manager {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .heading {

    }

    .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        padding: 10px;
        border-radius: 8px;

        .search-input {
            display: flex;
            align-items: center;
            gap: 20px;

            input {
                padding: 5px 10px;
                border-radius: 5px;
                outline: none;
                border: 1px solid #eee;
                width: 300px;
            }

            button {
                padding: 5px 10px;
                border: 1px  solid #eee;
                font-weight: 600;
                color: #fff;
                background-color: #62CDFF;
                border-radius: 5px;
            }
        }

        .add-new {
            padding: 5px 10px;
            border: none;
            outline: none;
            font-size: 15px;
            font-weight: bold;
            background-color: #19A7CE;
            border-radius: 5px;
            color: #fff;
        }
    }

    &-container {
        display: flex;
        padding: 10px;
        height: 500px;
        gap: 20px;
        background-color: #fff;

        .table {

            thead {
                text-align: center;
                white-space: nowrap;
            }
            tbody {
                text-align: center;
                
                .img {

                    img {
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                    }
                }

                .button {
                    text-align: center;
                    
                    .edit-btn {
                        background-color: #62CDFF;
                        padding: 5px 10px;
                        border: none;
                        border-radius: 4px;
                        color: #fff;
                        margin-right: 10px;
                    }
                    .delete-btn {
                        background-color: #FF6464;
                        padding: 5px 10px;
                        border: none;
                        border-radius: 4px;
                        color: #fff;
                    }
                }

            }
        }
    }
}