.manager {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .heading {

    }

    &-container {
        display: flex;
        padding: 10px;
        gap: 20px;
        background-color: #fff;

        .left {
            flex: 4;

            thead {
                text-align: center;
            }
            tbody {
                text-align: center;

                .button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    
                    .edit-btn {
                        background-color: #62CDFF;
                        padding: 5px 10px;
                        border: none;
                        border-radius: 4px;
                        color: #fff;
                    }
                    .delete-btn {
                        background-color: #FF6464;
                        padding: 5px 10px;
                        border: none;
                        border-radius: 4px;
                        color: #fff;
                    }
                }

            }
        }

        .right  {
            flex: 2;
            border: 1px solid #eee;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 500px;

            .title {
                
                h3{
                    font-weight: bold;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 70%;

                .form-input {
                    display: flex;
                    gap: 5px;
                    flex-direction: column;

                    label {
                        font-size: 14px;
                        color: #5a5a5a;

                        .tick {
                            color: red;
                        }
                    }

                    input {
                        padding: 5px 10px;
                        outline: none;
                        border-radius: 5px;
                        border: 1px solid #eee;
                    }
                }
                button {
                    padding: 5px 10px;
                    border: none;
                    border-radius: 5px;
                    color: #fff;
                    background-color: #19A7CE;
                    font-weight: bold;
                }

            }
        }
    }
}