.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    flex-wrap: wrap;

    .banner-left {
       width: 470px;
       height: 220px;
       overflow: hidden;
       border-radius: 10px;

       img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: ease-in-out .5s;

            &:hover {
                transform: scale(1.2);
            }
       }
    }

    .banner-right {
        width: 470px;
        height: 220px;
        overflow: hidden;
        border-radius: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: ease-in-out .5s;

            &:hover {
                transform: scale(1.2);
            }
       }
    }
}