.forgot-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F0EEED;

    .forgot-container {
        width: 900px;
        height: 600px;
        border-radius: 5px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 100px;

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;

            .form-input {
                display: flex;
                flex-direction: column;

                label {

                }

                input {
                    padding: 5px 10px;
                    outline: none;
                    border-radius: 4px;
                    border: 1px solid #eee;
                    width: 400px;
                }
            }

            button {
                background-color: #000;
                color: #fff;
                border: none;
                border-radius: 4px;
                font-weight: bold;
                padding: 5px 10px;
            }
        }
        .act-sec {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 400px;

            p {
                font-weight: 600;
                color: #5a5a5a;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 850px) {
    .forgot-page {
    
        .forgot-container {
            width: 750px;
            height: 600px;
            padding: 20px 30px;
            gap: 30px;
    
        }
    }
}