.product-container {
    margin-top: 112px;
    width: 100%;
    
    .heading {
        padding: 0;
        width: 100%;
    }

    .product {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 50px 100px;

        .sort {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 20px;
            border-bottom: 1px solid #eee;

            .sort-filter {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 600;
            }

            .sort-filter:hover {
                color: #F65D4E;
            }

            .sorting {
                display: flex;
                align-items: center;
                gap: 40px;

                .default-sort {

                    select {
                        border: none;
                        outline: none;
                    }
                }

                .show-sort {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    span {
                        font-size: 14px;
                        color: #5a5a5a;
                    }
                    select {
                        border: none;
                        outline: none;
                    }
                }
            }
        }
        .all-product {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;
            flex-wrap: wrap;
        }

        .pagination {
            display: flex;
            justify-content: center;
        }
    }

    .product-empty {
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}