.sidebar {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #eee;

    .logo {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-container {

        a {
            text-decoration: none;

        }

        ul {
            list-style: none;
        }

        .category {
            display: flex;
            flex-direction: column;
            padding: 0px 15px;
            gap: 30px;

            .item {
                display: flex;
                flex-direction: column;

                .title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
                    white-space: nowrap;
                    cursor: pointer;

                    .name {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        i {
                            color: #F65D4E;
                        }

                        span {
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }

                }

                .links {
                    display: flex;
                    flex-direction: column;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    transition: .5s;
                    padding: 0;

                    .link {
                        padding: 10px 0px;
                        font-size: 14px;
                        cursor: pointer;
                        font-weight: 500;
                        color: #5a5a5a;
                        border-bottom: 1px solid #eee;
                        padding-left: 30px;
                        transition: .3s;
                    }

                    .link:hover {
                        background-color: antiquewhite;
                        padding-left: 40px;
                    }
                }
            }
        }

    }
}