.wishlist-page {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 112px;

    .heading {
        padding: 0;
    }

    .wishlist-container {
        padding: 0px 100px;

        table {
            text-align: center;
            

            tbody {
                
                tr {

                    .img {
                        width: 120px;
                        height: 150px;
                        
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .name {
                        font-size: 20px;
                        font-weight: bold;
                    }

                    .price {
                        font-size: 20px;
                        font-weight: 600;
                    }
                    .button {
                        
                        
                        button {
                            padding: 5px 10px;
                            border: none;
                            background-color: #F65D4E;
                            border-radius: 5px;
                            font-weight: bold;
                            color: #fff;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}