.navbar-store {
    display: flex;
    justify-content: flex-end !important;
    height: 80px;
    background: rgb(251,167,71);
    background: linear-gradient(20deg, rgba(251,167,71,1) 12%, rgba(219,83,59,1) 40%, rgba(255,142,64,1) 66%, rgba(240,91,17,1) 91%);

    .navbar-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        position: relative;

        .info {
            display: flex;
            align-items: center;
            padding: 0px 50px;
            gap: 5px;

            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
    
            .name {
                font-size: 14px;
                font-weight: 600;
                color: #fff;
            }
        }

        .action {
            background-color: #fff;
            padding: 10px 20px;
            list-style: none;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            display: none;
            transition: .5s;
            position: absolute;
            bottom: -100px;

            li {
                padding: 5px 0px;
                border-bottom: 2px solid #eee;
            }

            li:hover {
                color: #f65d4e;
            }
        }
    }

    .navbar-content:hover .action {
        display: block;
    }
}