.reset-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F0EEED;

    .reset-container {
        width: 900px;
        height: 600px;
        border-radius: 5px;
        background-color: #fff;
        display: flex;
        align-items: center;

        .reset__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            flex: 2;

            &--heading {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                h3 {
                    font-size: 24px;
                }

                span {
                    font-size: 12px;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                width: 250px;
                gap: 20px;
              
                .pass {
                    width: 100%;
                    position: relative;

                    input {
                        width: 100%;
                    }

                    span {
                        position: absolute;
                        top: 50%;
                        right: 5px;
                        transform: translate(-50%, -50%);
                    }
                    span:hover {
                        color: #000;
                    }
                }
                input {
                    padding: 5px 10px;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #5a5a5a;
                }

                span {
                    font-size: 12px;
                    text-align: right;
                    cursor: pointer;
                    transition: .4s;
                }

                span:hover {
                    color: #F65D4E;
                }

                .reset__btn {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    button {
                        padding: 5px 10px;
                        font-weight: 500;
                        font-size: 13px;
                        border-radius: 30px;
                        border: none;
                        cursor: pointer;
                    }
                    &--signin {
                        color: #fff;
                        background-color: #F65D4E;

                    }

                    &--google {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }

            .reset__banner {
                flex: 3;
            }
        }
        
        .act-sec {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;

            p {
                font-weight: 600;
                color: #5a5a5a;
                cursor: pointer;
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 850px) {
    .reset-page {
        padding: 20px;

        .reset-container {
            width: 800px;
            height: 600px;
            padding: 20px 30px;
            gap: 30px;
    
            .reset__form {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                flex: 2;
    
                &--heading {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
    
                    h3 {
                        font-size: 24px;
                    }
    
                    span {
                        font-size: 12px;
                    }
                }
    
                form {
                    display: flex;
                    flex-direction: column;
                    width: 250px;
                    gap: 20px;
                  
    
                    input {
                        padding: 5px 10px;
                        outline: none;
                        border: none;
                        border-bottom: 1px solid #5a5a5a;
                    }
    
                    span {
                        font-size: 12px;
                        text-align: right;
                        cursor: pointer;
                        transition: .4s;
                    }
    
                    span:hover {
                        color: #B99B6B;
                    }
    
                    .reset__btn {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
    
                        button {
                            padding: 5px 10px;
                            font-weight: 500;
                            font-size: 13px;
                            border-radius: 30px;
                            border: 1px solid #333;
                            cursor: pointer;
                        }
                        &--signin {
                            color: #fff;
                            background-color: #000;
    
                        }
    
                        &--google {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 5px;
                            img {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
    
                }
    
                
            }
            .reset__banner {
                display: none;
            }
        }
    }
}