.category-list {
    display: flex;

    ul {
        list-style: none;
        font-size: 13px;
        font-weight: 500;
        color: #5a5a5a;
        padding-right: 40px;
        width: 100%;

        li {
            border-bottom: 1px solid #111;
            width: 100%;
            padding: 10px 0px;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 10px;

            .thumbnail {
                width: 20px;
                height: 20px;
                border-radius: 3px;
                object-fit: cover;
            }
        }

        li:hover {
            color: #F65D4E;
        }
    }
}