.account-page {
    margin-top: 110px;
    background-color: #eee;
    padding: 50px 100px;
    display: flex;
    gap: 30px;

    .left {
        flex: 2;
        background-color: #fff;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 8px;
        height: 250px;
    }

    .right {
        flex: 7;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .heading {

            &-links {
                margin: 0px;
                display: flex;
                list-style: none;
                justify-content: space-around;
                align-items: center;
                padding: 10px 0px;

                li {
                    cursor: pointer;
                    font-weight: 600;
                    padding-bottom: 5px;
                    border-bottom: 2px solid;
                }
            }
        }

        .pending {
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;

            &-heading {
                border-bottom: 2px solid #eee;

                p {
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            .pending-card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
                margin-top: 20px;


                .desc-card {
                    display: flex;
                    align-items: flex-start;
                    gap: 10px;

                    img {
                        height: 150px;
                        width: 100px;
                        object-fit: cover;
                    }

                    .info-card {
                        display: flex;
                        flex-direction: column;

                        .name {
                            font-size: 18px;
                            font-weight: 500;
                        }

                        .author {
                            font-size: 14px;
                            color: #5a5a5a;
                        }

                        .quantity {
                            font-size: 14px;
                            color: #5a5a5a;
                        }
                    }
                }

            }

            .price-card {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 15px;

                .cost {
                    text-decoration: line-through;
                    color: #5a5a5a;
                }

                .real-price {
                    font-weight: 600;
                }
            }
            .total-payment {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                border-top: 2px solid #eee;
                padding-top: 10px;

                .total {
                    font-size: 18px;
                    font-weight: bold;
                    color: #F65D4E;
                    margin: 0;
                }
            }

            .order-button {
                display: flex;
                justify-content: flex-end;

                button {
                    padding: 5px 10px;
                    border: none;
                    background-color: #F65D4E;
                    color: #fff;
                }
            }
        }
        .approved {
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;

            &-heading {
                border-bottom: 2px solid #eee;

                p {
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            .approved-card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
                margin-top: 20px;


                .desc-card {
                    display: flex;
                    align-items: flex-start;
                    gap: 10px;

                    img {
                        height: 150px;
                        width: 100px;
                        object-fit: cover;
                    }

                    .info-card {
                        display: flex;
                        flex-direction: column;

                        .name {
                            font-size: 18px;
                            font-weight: 500;
                        }

                        .author {
                            font-size: 14px;
                            color: #5a5a5a;
                        }

                        .quantity {
                            font-size: 14px;
                            color: #5a5a5a;
                        }
                    }
                }

            }

            .price-card {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 15px;

                .cost {
                    text-decoration: line-through;
                    color: #5a5a5a;
                }

                .real-price {
                    font-weight: 600;
                }
            }
            .total-payment {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                border-top: 2px solid #eee;
                padding-top: 10px;

                .total {
                    font-size: 18px;
                    font-weight: bold;
                    color: #F65D4E;
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .account-page {
        margin-top: 110px;
        background-color: #eee;
        padding: 50px 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    
        .left {
            flex: 2;
            background-color: #fff;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 8px;
            height: 250px;
        }
    
        .right {
            flex: 7;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            gap: 20px;
    
            .heading {
    
                &-links {
                    margin: 0px;
                    display: flex;
                    list-style: none;
                    justify-content: space-around;
                    align-items: center;
                    padding: 10px 0px;
    
                    li {
                        cursor: pointer;
                        font-weight: 600;
                        padding-bottom: 5px;
                        border-bottom: 2px solid;
                    }
                }
            }
    
            .pending {
                display: flex;
                flex-direction: column;
                gap: 20px;
                background-color: #fff;
                padding: 20px;
                border-radius: 8px;
    
                &-heading {
                    border-bottom: 2px solid #eee;
    
                    p {
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
    
                .pending-card {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;
    
    
                    .desc-card {
                        display: flex;
                        align-items: flex-start;
                        gap: 10px;
    
                        img {
                            height: 150px;
                            width: 100px;
                            object-fit: cover;
                        }
    
                        .info-card {
                            display: flex;
                            flex-direction: column;
    
                            .name {
                                font-size: 18px;
                                font-weight: 500;
                            }
    
                            .author {
                                font-size: 14px;
                                color: #5a5a5a;
                            }
    
                            .quantity {
                                font-size: 14px;
                                color: #5a5a5a;
                            }
                        }
                    }
    
                }
    
                .price-card {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 15px;
    
                    .cost {
                        text-decoration: line-through;
                        color: #5a5a5a;
                    }
    
                    .real-price {
                        font-weight: 600;
                    }
                }
                .total-payment {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    border-top: 2px solid #eee;
                    padding-top: 10px;
    
                    .total {
                        font-size: 18px;
                        font-weight: bold;
                        color: #F65D4E;
                        margin: 0;
                    }
                }
    
                .order-button {
                    display: flex;
                    justify-content: flex-end;
    
                    button {
                        padding: 5px 10px;
                        border: none;
                        background-color: #F65D4E;
                        color: #fff;
                    }
                }
            }
            .approved {
                display: flex;
                flex-direction: column;
                gap: 20px;
                background-color: #fff;
                padding: 20px;
                border-radius: 8px;
    
                &-heading {
                    border-bottom: 2px solid #eee;
    
                    p {
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
    
                .approved-card {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
    
                    .desc-card {
                        display: flex;
                        align-items: flex-start;
                        gap: 10px;
    
                        img {
                            height: 150px;
                            width: 100px;
                            object-fit: cover;
                        }
    
                        .info-card {
                            display: flex;
                            flex-direction: column;
    
                            .name {
                                font-size: 18px;
                                font-weight: 500;
                            }
    
                            .author {
                                font-size: 14px;
                                color: #5a5a5a;
                            }
    
                            .quantity {
                                font-size: 14px;
                                color: #5a5a5a;
                            }
                        }
                    }
    
                }
    
                .price-card {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 15px;
    
                    .cost {
                        text-decoration: line-through;
                        color: #5a5a5a;
                    }
    
                    .real-price {
                        font-weight: 600;
                    }
                }
                .total-payment {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    border-top: 2px solid #eee;
                    padding-top: 10px;
    
                    .total {
                        font-size: 18px;
                        font-weight: bold;
                        color: #F65D4E;
                        margin: 0;
                    }
                }
            }
        }
    }
     
}

@media (max-width: 480px) {
    .account-page {
        margin-top: 50px;
        background-color: #eee;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    
        .left {
            background-color: #fff;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 8px;
            height: 250px;
        }
    
        .right {
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            gap: 20px;
    
            .heading {
                justify-content: center;
                display: flex;
                &-links {
                    margin: 0px;
                    display: flex;
                    list-style: none;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 0px;
                    width: 300px;
                    overflow-x: scroll;
                    gap: 20px;
  
    
                    li {
                        cursor: pointer;
                        font-weight: 600;
                        padding-bottom: 5px;
                        border-bottom: 2px solid;
                        white-space: nowrap;
                    }
                }
            }
    
            .pending {
                display: flex;
                flex-direction: column;
                gap: 20px;
                background-color: #fff;
                padding: 20px;
                border-radius: 8px;
    
                &-heading {
                    border-bottom: 2px solid #eee;
    
                    p {
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
    
                .pending-card {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;
    
    
                    .desc-card {
                        display: flex;
                        align-items: flex-start;
                        gap: 10px;
                        flex-direction: column;
    
                        img {
                            height: 150px;
                            width: 100px;
                            object-fit: cover;
                        }
    
                        .info-card {
                            display: flex;
                            flex-direction: column;
    
                            .name {
                                font-size: 18px;
                                font-weight: 500;
                            }
    
                            .author {
                                font-size: 14px;
                                color: #5a5a5a;
                            }
    
                            .quantity {
                                font-size: 14px;
                                color: #5a5a5a;
                            }
                        }
                    }
    
                }
    
                .price-card {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 15px;
    
                    .cost {
                        text-decoration: line-through;
                        color: #5a5a5a;
                    }
    
                    .real-price {
                        font-weight: 600;
                    }
                }
                .total-payment {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    border-top: 2px solid #eee;
                    padding-top: 10px;
    
                    .total {
                        font-size: 18px;
                        font-weight: bold;
                        color: #F65D4E;
                        margin: 0;
                    }
                }
    
                .order-button {
                    display: flex;
                    justify-content: flex-end;
    
                    button {
                        padding: 5px 10px;
                        border: none;
                        background-color: #F65D4E;
                        color: #fff;
                    }
                }
            }
            .approved {
                display: flex;
                flex-direction: column;
                gap: 20px;
                background-color: #fff;
                padding: 20px;
                border-radius: 8px;
    
                &-heading {
                    border-bottom: 2px solid #eee;
    
                    p {
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
    
                .approved-card {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    flex-direction: column;
                    gap: 10px;
                    border-bottom: 1px solid #5a5a5a;
                    
                    .desc-card {
                        display: flex;
                        align-items: flex-start;
                        gap: 10px;
    
                        img {
                            height: 150px;
                            width: 100px;
                            object-fit: cover;
                        }
    
                        .info-card {
                            display: flex;
                            flex-direction: column;
    
                            .name {
                                font-size: 18px;
                                font-weight: 500;
                            }
    
                            .author {
                                font-size: 14px;
                                color: #5a5a5a;
                            }
    
                            .quantity {
                                font-size: 14px;
                                color: #5a5a5a;
                            }
                        }
                    }
    
                }
    
                .price-card {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 15px;
    
                    .cost {
                        text-decoration: line-through;
                        color: #5a5a5a;
                    }
    
                    .real-price {
                        font-weight: 600;
                    }
                }
                .total-payment {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    border-top: 2px solid #eee;
                    padding-top: 10px;
    
                    .total {
                        font-size: 18px;
                        font-weight: bold;
                        color: #F65D4E;
                        margin: 0;
                    }
                }
            }
        }
    }
     
}