.sale-register-page {
    

    .top {
        display: flex;
        height: 100vh;

        .left {
            flex: 1;
            padding: 50px 100px;
            display: flex;
            flex-direction: column;
            position: relative;

            .heading {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .content {

                span {
                    color: #FF6464;
                }
            }

            .banner {
                position: absolute;
                height: 420px;
                width: 630px;
                top: 30%;
                right: -30px;
            }
        }

        .right {
            flex: 1;
            background-color: #eee;
            padding: 50px 100px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            .title {
                font-size: 20px;
                font-weight: 600;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 100%;

                .form-input {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    label {
                        font-size: 14px;
                    }

                    input {
                        padding: 5px 10px;
                        border: none;
                        outline: none;
                        border-radius: 5px;
                    }
                }

                button {
                    padding: 5px 10px;
                    background-color: #FF6464;
                    color: #fff;
                    font-weight: bold;
                    border: none;
                    border-radius: 5px;
                }
            }
        }
    }

    .bot {
        padding: 50px 200px;
        gap: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .item {
            display: flex;
            flex-direction: column;
            gap: 20px;

            img {
                width: 120px;
                height: 120px;
                object-fit: cover;
                border-radius: 50%;
            }

            .title {
                font-size: 20px;
                font-weight: 600;
            }

            .content {
                font-size: 14px;
                color: #5a5a5a;
            }
        }
    }
}