.homepage {
    display: flex;
    flex-direction: column;
    margin-top: 112px;

    &-heading {
        background-color: #F65D4E;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 100px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1300px;
        width: 100%;
        
        .category {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: #f4402f;
            flex: 4;
            padding: 20px 4px;
            position: relative;
            z-index: 11;

            &-text {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 15px;
                font-weight: bold;
                color: #fff;
            }

            .icon {
                font-size: 12px;
                color: #fff;
                cursor: pointer;
                transition: ease-in-out .3s;
            }

            .up {
                cursor: pointer;
                transition: ease-in-out .3s;
                transform: rotate(180deg);
            }

            .category-list {
                position: absolute;
                left: 0;
                right: 0;
                background-color: #fff;
                top: 35px;
                z-index: 10;
                border-radius: 0px 0px 10px 10px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                
            }

        }

        .search {
            flex: 9;
            display: flex;
            justify-content: center;

            &-input {
                width: 80%;
                display: flex;
                border-radius: 30px;
                background-color: #fff;
                padding: 0px 20px;

                input {
                    width: 100%;
                    padding: 15px 5px;
                    border: none;
                    outline: none;
                    background-color: transparent;
                }

                button {
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    font-weight: bold;
                    font-size: 15px;
                }

                button:hover {
                    color: #F65D4E;
                }
            }
        }

        .map {
            flex: 4;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-weight: 600;
            color: #fff;
            font-size: 14px;
        }
    }

    &-slide {
        overflow: hidden;
        padding: 0px 100px;
        margin-bottom: 20px;

        .slick-list {
            width: 100%;
            outline: none;
        }

        // .slick-arrow {
        //     background-color: #F65D4E;
        //     width: 50px;
        //     height: 50px;
        //     border-radius: 50%;
        //     z-index: 10;
        // }

        img {
            width: 100%;
            height: 500px;
            object-fit: cover;
            outline: none;
        }
    }

   &-container {
        padding: 0px 100px;

        // .homepage__left {
        //     flex: 1;
        //     display: flex;
        //     flex-direction: column;
        //     gap: 50px;

        //     &--category {
        //          border: 2px solid red;   
        //          border-top: none;
        //          border-radius: 0px 0px 10px 10px;
        //          display: none;
        //     }
        // }

        .homepage__right {
            // flex: 4;
            // margin-left: 50px;
            // margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;


            &--product {
                
                .heading {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .title {
                        font-size: 28px;
                        font-weight: bold;
                        position: relative;
                    }

                    .title::before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 3px;
                        bottom: 0;
                        background-color: #F65D4E;
                    }

                    .view {
                        padding: 10px 20px;
                        border-radius: 30px;
                        border: none;
                        font-size: 18px;
                        font-weight: 600;
                        background-color: #F65D4E;
                        color: #fff;
                        cursor: pointer;
                    }
                }
                .product-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin-top: 30px;
                    gap: 20px;
                    
                }
            }
        }
   }

   &-vendor {
        padding: 50px 100px;

        &--vendor {
                    
            .heading {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .title {
                    font-size: 28px;
                    font-weight: bold;
                    position: relative;
                }

                .title::before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 3px;
                    bottom: 0;
                    background-color: #F65D4E;
                }

                .view {
                    padding: 10px 20px;
                    border-radius: 30px;
                    border: none;
                    font-size: 18px;
                    font-weight: 600;
                    background-color: #F65D4E;
                    color: #fff;
                    cursor: pointer;
                }
            }
            .product-vendor {

                .slick-list {
                    width: 100%;

                    .slick-track {
                        display: inline-block;
                        display: flex;
                        gap: 50px;
                        flex-wrap: nowrap;
                        width: 100%;
                        margin: 0 !important;
                    }
                }
            }
        }
   }
}

@media (max-width: 821px) {
    .homepage {
        display: flex;
        flex-direction: column;
        margin-top: 112px;
    
        &-heading {
            padding: 0px 50px;
 
            
            .category {
                flex: 4;
                padding: 10px 10px;

                &-text {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: 15px;
                    font-weight: bold;
                    color: #fff;
                }
    
                .icon {
                    font-size: 12px;
                    color: #fff;
                    cursor: pointer;
                }
    
                .category-list {

                    top: 25px;

                    
                }
    
            }
    
            .search {
                flex: 6;

    
                &-input {
                    width: 80%;
                    display: flex;
                    border-radius: 30px;
                    background-color: #fff;
                    padding: 0px 20px;
    
                    input {
                        width: 100%;
                        padding: 5px 5px;
                        border: none;
                        outline: none;
                        background-color: transparent;
                    }
                }
            }
    
            .map {
                flex: 4;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                font-weight: 600;
                color: #fff;
                font-size: 14px;
            }
        }
    
        &-slide {
            overflow: hidden;
            padding: 0px 50px;
            margin-bottom: 20px;
    
            .slick-list {
                width: 100%;
                outline: none;
            }
    
            .slick-arrow {
                background-color: #F65D4E;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                z-index: 10;
            }
    
            img {
                width: 100%;
                height: 250px;
                object-fit: cover;
                outline: none;
            }
        }
    
       &-container {
            padding: 0px 50px;
    
            // .homepage__left {
            //     flex: 1;
            //     display: flex;
            //     flex-direction: column;
            //     gap: 50px;
    
            //     &--category {
            //          border: 2px solid red;   
            //          border-top: none;
            //          border-radius: 0px 0px 10px 10px;
            //          display: none;
            //     }
            // }
    
            .homepage__right {
                // flex: 4;
                // margin-left: 50px;
                // margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 50px;
    
    
                &--product {
                    
                    .heading {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
    
                        .title {
                            font-size: 28px;
                            font-weight: 600;
                            position: relative;
                        }
    
                        .title::before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 3px;
                            bottom: 0;
                            background-color: #F65D4E;
                        }
    
                        .view {
                            padding: 10px 20px;
                            border-radius: 30px;
                            border: none;
                            font-size: 18px;
                            font-weight: 600;
                            background-color: #F65D4E;
                            color: #fff;
                            cursor: pointer;
                        }
                    }
                    .product-container {
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap;
                        gap: 20px;
                        
                    }
                }
            }
       }
    
       &-vendor {
            padding: 50px 50px;
    
            &--vendor {
                        
                .heading {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                    .title {
                        font-size: 28px;
                        font-weight: 600;
                        position: relative;
                    }
    
                    .title::before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 3px;
                        bottom: 0;
                        background-color: #F65D4E;
                    }
    
                    .view {
                        padding: 10px 20px;
                        border-radius: 30px;
                        border: none;
                        font-size: 18px;
                        font-weight: 600;
                        background-color: #F65D4E;
                        color: #fff;
                        cursor: pointer;
                    }
                }
                .product-vendor {
    
                    .slick-list {
                        width: 100%;
    
                        .slick-track {
                            display: inline-block;
                            display: flex;
                            gap: 50px;
                            flex-wrap: nowrap;
                            width: 100%;
                            margin: 0 !important;
                        }
                    }
                }
            }
       }
    }
}

@media (max-width:  480px) {
    .homepage {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    
        &-heading {
            padding: 0px 20px;
 
            
            .category {
                flex: 1;
                padding: 10px 10px;
                background-color: #F65D4E;

                &-text {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: 15px;
                    font-weight: bold;
                    color: #fff;
                }
    
                .icon {
                    font-size: 12px;
                    color: #fff;
                    cursor: pointer;
                }
    
                .category-list {

                    top: 25px;

                    
                }
    
            }
    
            .search {
                flex: 1;
                padding: 0;
    
                &-input {
                    width: 100%;
                    display: flex;
                    border-radius: 30px;
                    background-color: #fff;
                    padding: 0px 20px;
    
                    input {
                        width: 100%;
                        padding: 5px 5px;
                        border: none;
                        outline: none;
                        background-color: transparent;
                    }
                }
            }
    
            .map {
                display: none;
            }
        }
    
        &-slide {
            overflow: hidden;
            padding: 0px 20px;
            margin-bottom: 20px;
    
            .slick-list {
                width: 100%;
                outline: none;
            }
    
            .slick-arrow {
                opacity: 0;
            }
    
            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                outline: none;
            }
        }
    
       &-container {
            padding: 0px 20px;
    
    
            .homepage__right {
                // flex: 4;
                // margin-left: 50px;
                // margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 50px;
    
    
                &--product {
                    
                    .heading {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
    
                        .title {
                            font-size: 23px;
                            font-weight: 600;
                            position: relative;
                        }
    
                        .title::before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 3px;
                            bottom: 0;
                            background-color: #F65D4E;
                        }
    
                        .view {
                            padding: 10px 20px;
                            border-radius: 30px;
                            border: none;
                            font-size: 18px;
                            font-weight: 600;
                            background-color: #F65D4E;
                            color: #fff;
                            cursor: pointer;
                        }
                    }
                    .product-container {
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap;
                        gap: 10px;
                        
                    }
                }
            }
       }
    
       &-vendor {
            padding: 50px 20px;
    
            &--vendor {
                        
                .heading {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
    
                    .title {
                        font-size: 23px;
                        font-weight: 600;
                        position: relative;
                    }
    
                    .title::before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 3px;
                        bottom: 0;
                        background-color: #F65D4E;
                    }
    
                    .view {
                        padding: 10px 20px;
                        border-radius: 30px;
                        border: none;
                        font-size: 18px;
                        font-weight: 600;
                        background-color: #F65D4E;
                        color: #fff;
                        cursor: pointer;
                    }
                }
                .product-vendor {
    
                    .slick-list {
                        width: 100%;
    
                        .slick-track {
                            display: inline-block;
                            display: flex;
                            gap: 50px;
                            flex-wrap: nowrap;
                            width: 100%;
                            margin: 0 !important;
                        }
                    }
                }
            }
       }
    }
}

