.contact {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 110px;

    .contact-container {
        padding: 50px 100px;
        display: flex;
        justify-content: space-between;
        text-align: center;

        .contact__title {
            font-size: 35px;
        }

        .contact__left {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 40px;

            &--desc {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;

                &--text {
                    width: 60%;
                    font-size: 15px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    b {
                        color: #B99B6B;
                    }

                    span {
                        color: #5a5a5a;
                    }
                    i {
                        color: #B99B6B;
                    }
                }

                &--social {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    span {
                        transition: .4s;
                        cursor: pointer;
                    }

                    .facebook:hover {
                        color: #084177;
                    }

                    .twitter:hover {
                        color: #1AD7DB;
                    }

                    .google:hover {
                        color: #B99B6B;
                    }

                    .youtube:hover {
                        color: #EC4646;
                    }
                }
            }
        }

        .contact__right {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 40px;
            font-size: 15px;
            
            &--desc {
                color: #5a5a5a;
                display: flex;
                gap: 30px;
                flex-direction: column;

                &--form {

                    form {
                        display: flex;
                        flex-direction: column;
                        gap: 30px;

                        .input-form {
                            display: flex;
                            justify-content: space-between;
                            gap: 30px;

                            input {
                                flex: 1;
                                padding: 7px 12px;
                                border: 1px solid #5a5a5a;
                                border-radius: 4px;
                                outline: none;
                            }
                        }

                        input {
                            padding: 7px 12px;
                            border: 1px solid #5a5a5a;
                            border-radius: 4px;
                            outline: none;
                        }

                        textarea {
                            padding: 7px 20px;
                            border: 1px solid #5a5a5a;
                            border-radius: 4px;
                            outline: none;
                        }

                        button {
                            padding: 7px 0;
                            border-radius: 4px;
                            border: none;
                            cursor: pointer;
                            font-weight: bold;
                            color: #fff;
                            background-color: #F65D4E;
                        }
                   }
                }
            }

        }
    }
}

@media (max-width: 850px) {
    .contact {
    
        .contact-container {
            flex-direction: column;
            gap: 20px;
    
            .contact__title {
           
            }
    
            .contact__left {
                gap: 40px;
    
                &--desc {
                    gap: 10px;
    
                    &--text {
                        width: 80%;
    
                        b {
                            
                        }
    
                        span {
                            
                        }
                        i {
                            
                        }
                    }
    
                    &--social {
                        display: flex;
                        align-items: center;
                        gap: 20px;
    
                        span {
                            transition: .4s;
                            cursor: pointer;
                        }
    
                        .facebook:hover {
                            color: #084177;
                        }
    
                        .twitter:hover {
                            color: #1AD7DB;
                        }
    
                        .google:hover {
                            color: #B99B6B;
                        }
    
                        .youtube:hover {
                            color: #EC4646;
                        }
                    }
                }
            }
    
            .contact__right {
     
                
                &--desc {
                  
    
                    &--form {
    
                        form {
                           
    
                            .input-form {
                               
    
                                input {
                                    
                                }
                            }
    
                            input {
                               
                            }
    
                            textarea {
                               
                            }
    
                            button {
                               
                            }
                       }
                    }
                }
    
            }
        }
    }
}
@media (max-width: 450px) {
    .contact {
        margin-bottom: 500px;

        .contact-container {
            padding: 50px 20px;
    
            .contact__title {
      
            }
    
            .contact__left {
      
    
                &--desc {
    
                    &--text {
          
    
                        b {
                          
                        }
    
                        span {
                            
                        }
                        i {
                            
                        }
                    }
    
                    &--social {
                        
    
                        span {
                            
                        }
    
                        .facebook:hover {
                            
                        }
    
                        .twitter:hover {
                            
                        }
    
                        .google:hover {
                           
                        }
    
                        .youtube:hover {
                           
                        }
                    }
                }
            }
    
            .contact__right {
                padding: 20px;
                
                &--desc {
                    
                    &--form {
    
                        form {
                            gap: 20px;
    
                            .input-form {
                                justify-content: center;
                                flex-wrap: wrap;
                                gap: 20px;

                                input {
                                    padding: 7px 7px;
                                }
                            }
    
                            input {

                            }
    
                            textarea {
                                padding: 7px 7px;
                            }
    
                            button {

                            }
                       }
                    }
                }
    
            }
        }
    }
}